mixin sProdCard()
	// start sProdCard
	+b.sProdCard.section#sProdCard&attributes(attributes)
		+e.container.container
			+e.row.row
				+e.lCol.col-lg-6
					+b.cardDescr
						+e.row.row.align-items-center
							.col-auto
								+e.article-txt XR34760009854
							.col-auto
								+b.stars-cont
									+e.star.filled-star
										+icon('star')
									+e.star.filled-star
										+icon('star')
									+e.star.filled-star
										+icon('star')
									+e.star.filled-star
										+icon('star')
									+e.star.empty-star
										+icon('star')
									+e.reviews Нет отзывов
						+e.status.bg-primary.color-white Новинка
						+e.status.bg-danger.color-white Отсутствует
						+e.status.bg-warning Ожидается
					+e.sliders-cont 
						+e.buttonsWrap 
							+e.like(type="button")
								img(src="img/@2x/heart.png" alt="" loading='lazy')
							+e.compare(type="button")
								img(src="img/@2x/compare.png" alt="" loading='lazy')
						+e.sliderRow.row
							.col-4.d-none.d-md-block
								+e.thumbs
									.swiper-container.prod-card-thumb-js
										.swiper-wrapper
											+prodCardThumb(1)
											+prodCardThumb(2)
											+prodCardThumb(3)
											+prodCardThumb(2)
											+prodCardThumb(1)
											+prodCardThumb(3)
									.swiper-prev-frame.prod-card-th-prev
										+icon('chevron-left')
									.swiper-next-frame.prod-card-th-next
										+icon('chevron-right')
							.col-12.col-md-8
								+e.slider
									.swiper-container.prod-card-slider-js
										.swiper-wrapper
											+prodCardSlide(1)
											+prodCardSlide(2)
											+prodCardSlide(3)
											+prodCardSlide(2)
											+prodCardSlide(1)
											+prodCardSlide(3)
									.swiper-pagination.d-md-none
					+prodCardPills('d-none d-lg-block')
				.col-lg-6.col-xl
					+b.prod-chars
						+e.top-items
							+charsItem('Цвет:')
								+e.color-list
									+colorRadioItem('#fb4f4f')
									+colorRadioItem('#757e74')(checked)
									+colorRadioItem('#000000')
									+colorRadioItem('#ffffff', 'white-circle')
									+colorRadioItem('#e6cf72')
							+charsItem('Накопитель:')
								+e.memory-list
									+memoryRadioItem('64 ГБ')
									+memoryRadioItem('128 ГБ')(checked)
									+memoryRadioItem('256 ГБ')
						+e.accardionWrap
							+e.accardionHead.accardion-js.d-md-none Выберите услуги
							+e.chb-items.accardion-toggle-js
								+charCheckboxItem('glass', '249 грн')
									| 1 х Защитное стекло Sonnex для Iphone 11 Full Stick Screen 0,24 mm (Black)
								+charCheckboxItem('garanty', '999 грн')
									| 1 х Гарантия от магазина на срок 12 месяцев для Iphone
						+e.buy-strip
							+e.priceWrap.row 
								.col-auto
									+e.buy-strip-price 27 990 грн
								.col-auto
									+e.buy-strip-old 27 990 грн
								.col.d-md-none
									+e.buy-strip-bonuses 456 Бонусов
							+e.btnWrap.row 
								.col
									+e.A.to-bag-btn(href='#')
										.d-none.d-sm-block
											+icon('shopping-bag')
											span Добавить в корзину
										span.d-sm-none Купить
								.col
									+e.A.click-btn(href='#') Быстрый заказ
							+e.trade-in.link-modal(href="#modal-trade-in") Экономия в 
								span Trade-in
						+e.pick-up 
							span Забрать в городе: 
							+input('Москва','select')
						+e.lower-pills
							+prodCharLowerItem('1.png')
								+e.pill-title-wrap
									+e.pill-title Доставка с Яндекс Go за 24 часа
								+e.pill-descr При оплате на сайте, при заказе до 20:00
							+prodCharLowerItem('2.png')
								+e.pill-title-wrap
									+e.pill-title Стандартная доставка
								+e.pill-descr Послезавтра, в воскресенье, 13 декабря
							+prodCharLowerItem('3.png')
								+e.pill-title-wrap
									+e.pill-title Забрать в магазине
								+e.pill-descr 2 магазина
						+e.guarantee Гарантия 12 месяцев, обмен/возврат товара в течении 14 дней
					//- +prodCardPills('d-lg-none')
					// end sProdCard
mixin prodCharLowerItem(imgNum, pillName)
	+e.lower-pill
		+e.lower-pill-img
			+e.inner-img-cont
				img.res-i.lazy(src="#" data-src=`img/@2x/prod-card-delivery-${imgNum}` alt="")
		+e.pill-txt
			block
		+e.pill-price
			+e.check
				+icon('check-transparent')
				| Бесплатно
mixin charCheckboxItem(name, price)
	+e.chb-item
		label
			input(type='checkbox' name=name)
			.checkbox-cont
			.chb-txt
				block
			.price=price

mixin colorRadioItem(itemColor,circleClasses)
	+e.color-item
		label
			input(type="radio" name='prod-color')&attributes(attributes)
			.color-circle(style=`color: ${itemColor};` class=circleClasses)

mixin memoryRadioItem(txt)
	+e.memory-item
		label
			input(type="radio" name='memory')&attributes(attributes)
			.memory-item=txt

mixin charsItem(title)
	+e.item
		+e.title=title
		+e.content
			block


mixin prodCardPills(PillsClass)
	+b.prodCard-pills(class=PillsClass)
		+e.row.row
			+prodCardPill(1)
				+e.title Размер экрана
				+e.subtitle Безрамочный дисплей, 6,1’’
			+prodCardPill(2)
				+e.title Основная камера
				+e.subtitle 12,0 Мп + 12,0 Мп
			+prodCardPill(3)
				+e.title Процессор
				+e.subtitle Apple A14 Bionic
			+prodCardPill(4)
				+e.title Количество ядер
				+e.subtitle 6 ядер
			+prodCardPill(5)
				+e.title Фронтальная камера
				+e.subtitle 12,0 Мп
			+prodCardPill(6)
				+e.title Емкость аккумулятора
				+e.subtitle 2 200 мА

mixin prodCardPill(imgNum)
	.col-lg-6
		+e.pill
			+e.img
				img.lazy(src="#" data-src=`img/@2x/prod-descr-${imgNum}.png` alt="")
			+e.txt
				block

mixin prodCardSlide(imgNum)
	.swiper-slide
		+e.A.slide-img(href=`img/@2x/prod-card-slide-${imgNum}.png` data-fancybox=`prod-card-img`)
			img.swiper-lazy(src="#" data-src=`img/@2x/prod-card-slide-${imgNum}.png` alt="")

mixin prodCardThumb(imgNum)
	.swiper-slide
		+e.thumb-img
			img.swiper-lazy(src="#" data-src=`img/@2x/prod-card-slide-${imgNum}.png` alt="")