mixin bannerSled(logo,title,price,img)
	.swiper-slide
		+e.slideWrap&attributes(attributes)
			.container
				.row
					+e.picCol.col-lg-6.order-lg-last
						+pic(`banner-${img}.png`,'',0)
					+e.col.col-lg
						+pic(`banner-logo-${logo}.png`,'',0).pic-banner-logo
						+b.section-title
							.h1!=title
						+e.price!=`від ${price} грн`
							+e.installmentPlan.d-none.d-lg-block Оплата частинами
						+e.btn(href="#") Купити

mixin categorySlide(i,t,p)
	.swiper-slide
		+e.slideWrap(href='#')
			picture
				source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/headerCategory-${i}.webp` type="image/webp")
				img.swiper-lazy(src="#" data-src=`img/@2x/headerCategory-${i}.png`, alt="")
			+e.title= t
			if p
				+e.price= p

mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		+b.bannerSleder
			.swiper-container.bannerSleder-js
				.swiper-wrapper
					+bannerSled(1,`Покаже все, на&nbsp;що&nbsp;здатен`,`6 419`,1)
					+bannerSled(2,`Все в&nbsp;найдосконалішому вигляді`,`9 499`,2)
					+bannerSled(3,`Швидкість в усій красі`,`11 899`,3)
					+bannerSled(4,`Виділятися`,`299`,4)
					+bannerSled(5,`Знайомтесь`,`20 999`,5)
					+bannerSled(6,`Потужно. Яскраво.<br />Чудово.`,`9 499`,6)
					+bannerSled(7,`Який iPhone саме<br />для Вас?`,`11 899`,7)
					+bannerSled(8,`Такого Ви&nbsp;не&nbsp;чули<br />Це&nbsp;магія`,`3 999`,8)
				.swiper-pagination
		+b.sliderCategory
			.swiper-container.sliderCategory-js
				.swiper-wrapper
					+categorySlide('1','Смартфоны iphone','от 26 990 р ')
					+categorySlide('2','Планшеты iPad','от 27 990 р ')
					+categorySlide('3','Ноутбуки MacBook','от 66 990 р ')
					+categorySlide('4','Часы Apple Watch','от 15 990 р ')
					+categorySlide('5','Аксессуары','от 100 р ')
				.swiper-pagination.d-lg-none

	// end headerBlock